header,
.navbar {
    background-color: #1a1a1a;
}

header h1 {
    color: white;
}

body {
    height: 100vh;
    background-color: #383838;
}

.form-container {
    background-color: #D40000;
    color: white;
}

#main {
    background-color: #c1c1c1;
}